.box{
    height: 250px;
    background-color: yellow;
    padding: 20px;
    border-radius: 10px;
}
.eve{
    height: 250px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}